<!DOCTYPE html>
<html lang="en">
{% load humanize %}
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>killboard C A M E L O T</title>
    <link rel="stylesheet" href="/static/kill/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/kill/css/styles.min.css">
</head>

<body style="opacity: 1;background: url(/static/kill/img/a-year-in-eve.png) no-repeat fixed center;">
    <h1 class="text-center text-white d-none d-lg-block site-heading" data-bss-parallax-bg="true" style="margin-top: 30px;"><span class="site-heading-lower " style="font-weight: bold;letter-spacing: 20px;font-family: Raleway;margin-top: 0px;padding-top: 0px;">C A M E L O T</span></h1>
  <div class="container" style="font-size: 14px;background: rgba(0,0,0,0.7);color: rgb(63,65,67);line-height: 14px;">
    <div class="row" style="margin-left: 0px;margin-right: 1px;height: 80px;font-size: 10px;">
      <div class="col-sm-2" style="padding-right: 20px;padding-left: 0px;margin-top: 0px;padding-top: 0px;padding-bottom: 12px;">
        <div class="table-responsive">
          <table class="table table-sm">
            <tbody>
              <tr style="padding-top: 0px;margin-top: 0px;display: grid;">
                <th style="text-align: center;color: var(--bs-table-striped-bg);background: var(--bs-table-striped-bg);border-bottom-width: 0px;border-bottom-color: var(--bs-table-striped-bg);"></th>
                <th style="text-align: center;color: var(--bs-table-striped-bg);background: var(--bs-table-striped-bg);border-bottom-color: var(--bs-table-striped-bg);"></th>
                <th style="text-align: center;color: var(--bs-table-striped-bg);background: var(--bs-table-striped-bg);border-bottom-color: var(--bs-table-striped-bg);"></th>
                <th style="text-align: center;color: var(--bs-table-striped-bg);background: var(--bs-table-striped-bg);border-bottom-color: var(--bs-table-striped-bg);"></th>
                <th class="font-monospace" style="text-align: center;font-size: 15px;line-height: 32px;background: var(--bs-table-striped-bg);color: var(--bs-body-bg);">Top 15&nbsp; Corps.</th>


              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-4" style="padding-right: 0px;padding-left: 0px;">
        <div class="table-responsive">
          <table class="table table-sm">
            <tbody>
              <tr style="padding-top: 0px;margin-top: 0px;display: grid;">
                <th style="text-align: center;color: var(--bs-table-striped-bg);background: var(--bs-table-striped-bg);border-bottom-width: 0px;border-bottom-color: var(--bs-table-striped-bg);"></th>
                <th style="text-align: center;color: var(--bs-table-striped-bg);background: var(--bs-table-striped-bg);border-bottom-color: var(--bs-table-striped-bg);"></th>
                <th style="text-align: center;color: var(--bs-table-striped-bg);background: var(--bs-table-striped-bg);border-bottom-color: var(--bs-table-striped-bg);"></th>
                <th style="text-align: center;color: var(--bs-table-striped-bg);background: var(--bs-table-striped-bg);border-bottom-color: var(--bs-table-striped-bg);"></th>
                <th class="font-monospace" style="text-align: center;font-size: 20px;line-height: 32px;background: var(--bs-table-striped-bg);color: #008000;">Kills</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-4" style="padding-right: 0px;padding-left: 0px;">
        <div class="table-responsive">
          <table class="table table-sm">
            <tbody>
              <tr style="padding-top: 0px;margin-top: 0px;display: grid;">
                <th style="text-align: center;color: var(--bs-table-striped-bg);background: var(--bs-table-striped-bg);border-bottom-width: 0px;border-bottom-color: var(--bs-table-striped-bg);"></th>
                <th style="text-align: center;color: var(--bs-table-striped-bg);background: var(--bs-table-striped-bg);border-bottom-color: var(--bs-table-striped-bg);"></th>
                <th style="text-align: center;color: var(--bs-table-striped-bg);background: var(--bs-table-striped-bg);border-bottom-color: var(--bs-table-striped-bg);"></th>
                <th style="text-align: center;color: var(--bs-table-striped-bg);background: var(--bs-table-striped-bg);border-bottom-color: var(--bs-table-striped-bg);"></th>
                <th class="font-monospace" style="text-align: center;font-size: 20px;line-height: 32px;background: var(--bs-table-striped-bg);color: var(--bs-red);">Loss</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-2" style="padding-right: 0px;padding-left: 21px;">
        <div class="table-responsive">
          <table class="table table-sm">
            <tbody>
              <tr style="padding-top: 0px;margin-top: 0px;display: grid;">
                <th style="text-align: center;color: var(--bs-table-striped-bg);background: var(--bs-table-striped-bg);border-bottom-width: 0px;border-bottom-color: var(--bs-table-striped-bg);"></th>
                <th style="text-align: center;color: var(--bs-table-striped-bg);background: var(--bs-table-striped-bg);border-bottom-color: var(--bs-table-striped-bg);"></th>
                <th style="text-align: center;color: var(--bs-table-striped-bg);background: var(--bs-table-striped-bg);border-bottom-color: var(--bs-table-striped-bg);"></th>
                <th style="text-align: center;color: var(--bs-table-striped-bg);background: var(--bs-table-striped-bg);border-bottom-color: var(--bs-table-striped-bg);"></th>
                <th class="font-monospace" style="text-align: center;font-size: 15px;line-height: 32px;background: var(--bs-table-striped-bg);color: var(--bs-body-bg);">Top 15&nbsp; Chars.</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row" style="background: rgba(0,0,0,0.45);">
      <div class="col-lg-2">
        <div class="table-responsive" style="font-size: 12px;line-height: 20px;letter-spacing: 0px;font-family: Lora;">
          <table class="table">
            <tbody>
            {% for corp in top_15_corp %}
              <tr>
                <td class="font-monospace" style="color: #ffea00;background: var(--bs-table-striped-bg);border-bottom-color: rgba(222,226,230,0.5);">{{ corp.corp_name }}</td>
                <td class="font-monospace" style="text-align: right;color: #ffea00;background: var(--bs-table-striped-bg);border-bottom-color: rgba(222,226,230,0.5);">{{ corp.corp_kills }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-lg-2" style="padding-right: 0px;padding-left: 0px;">
        <div class="table-responsive">
          <table class="table">
            <tbody>
            {% if kill1  %}
                    {% for i in kill1 %}
              <tr>
                <td class="font-monospace" style="background: var(--bs-table-striped-bg);color: var(--bs-success);font-weight: bold;letter-spacing: 0px;line-height: 14px;font-size: 14px;border-width: 0px;border-bottom-width: 1px;border-bottom-color: rgba(222,226,230,0.5);">{{ i.name }}</td>
                <td class="font-monospace" class="text-end" style="color: var(--bs-success);background: var(--bs-table-striped-bg);border-bottom-color: rgba(222,226,230,0.5);font-size: 15px;">{{ i.ship_kills }}</td>
              </tr>
                    {% endfor %}
            {% endif %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-2" style="padding-right: 0px;padding-left: 1px;">
        <div class="table-responsive">
          <table class="table">
            <tbody>
            {% if kill2 %}
                {% for i in kill2 %}
              <tr>
                <td class="font-monospace" style="background: var(--bs-table-striped-bg);color: var(--bs-success);font-size: 15px;border-bottom-color: rgba(222,226,230,0.5);border-left-width: 1px;border-left-color: rgba(222,226,230,0.5);">{{ i.name }}</td>
                <td class="font-monospace" style="background: var(--bs-table-striped-bg);color: var(--bs-success);text-align: right;font-size: 15px;border-right-width: 2px;border-bottom-color: rgba(222,226,230,0.5);">{{ i.ship_kills }}</td>
              </tr>
                {% endfor %}
            {% endif %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-lg-2" style="padding-right: 0px;padding-left: 6px;">
        <div class="table-responsive">
          <table class="table">
            <tbody>
            {% if kill1 %}
                {% for i in kill1 %}
              <tr>
                <td class="font-monospace" style="color: var(--bs-red);background: var(--bs-table-striped-bg);font-size: 14px;border-bottom-color: rgba(222,226,230,0.5);border-left-width: 2px;">{{ i.name }}</td>
                <td class="font-monospace" class="text-end" style="color: var(--bs-red);background: var(--bs-table-striped-bg);font-size: 15px;border-right-width: 1px;border-right-color: rgba(222,226,230,0.5);border-bottom-color: rgba(222,226,230,0.5);">{{ i.ship_loss }}</td>
              </tr>
                {% endfor %}
            {% endif %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-2" style="padding-right: 0px;padding-left: 1px;">
        <div class="table-responsive">
          <table class="table">
            <tbody>
            {% if kill2 %}
            {% for i in kill2 %}
              <tr>
                <td class="font-monospace" style="color: var(--bs-red);background: var(--bs-table-striped-bg);font-size: 15px;border-bottom-color: rgba(222,226,230,0.5);">{{ i.name }}</td>
                <td class="font-monospace" class="text-end" style="color: var(--bs-red);background: var(--bs-table-striped-bg);font-size: 15px;border-bottom-color: rgba(222,226,230,0.5);">{{ i.ship_loss }}</td>
              </tr>
            {% endfor %}
            {% endif %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="table-responsive" style="font-size: 14px;line-height: 20px;letter-spacing: 0px;font-family: Lora,serif;">
          <table class="table">
            <tbody>
            {% for char in top_15_chars %}
              <tr>
                <td class="font-monospace" style="color: #ffea00;background: var(--bs-table-striped-bg);border-bottom-color: rgba(222,226,230,0.5);">{{ char.char_name }}</td>
                <td class="font-monospace" style="text-align: right;background: var(--bs-table-striped-bg);color: #ffea00;border-bottom-color: rgba(222,226,230,0.5);">{{ char.char_kills }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">

           {% for i in staticalli %}
        <div class="table-responsive" style="color: rgb(255,255,255);background: rgba(0,0,0,0.3);">
          <table class="table">
            <tbody>
              <tr style="border-width: 1px;">
                <th style="color: rgb(255,255,255);background: var(--bs-table-striped-bg);">корабли</th>
                <td class="green " style="text-align: right;font-weight: bold;letter-spacing: 0px;line-height: 14px;font-size: 18px;border-width: 0px;background: var(--bs-table-striped-bg);color: green;">{{ i.ships_destroyer }}</td>
                <td class="red_stata " style="text-align: right;font-weight: bold;letter-spacing: 0px;line-height: 14px;font-size: 18px;background: var(--bs-table-accent-bg);color: red;">{{ i.ships_lost }}</td>
                <td class="red_stata" style="text-align: right;font-weight: bold;letter-spacing: 0px;line-height: 14px;font-size: 18px;background: var(--bs-table-striped-bg);color: white;">Cell 4</td>
              </tr>
              <tr style="border-width: 1px;">
                <td style="color: rgb(255,255,255);background: var(--bs-table-striped-bg);">очки</td>
                <td class="green" style="text-align: right;color: green;font-weight: bold;letter-spacing: 0px;line-height: 14px;font-size: 18px;background: var(--bs-table-striped-bg);">{{ i.point_destroyer }}</td>
                <td class="green" style="text-align: right;color: red;font-weight: bold;letter-spacing: 0px;line-height: 14px;font-size: 18px;background: var(--bs-table-striped-bg);">{{ i.point_lost }}</td>
                <td class="green" style="text-align: right;color: rgb(255,250,250);font-weight: bold;letter-spacing: 0px;line-height: 14px;font-size: 18px;background: var(--bs-table-striped-bg);">Cell 4</td>
              </tr>
              <tr style="border-width: 1px;">
                <td style="color: rgb(255,255,255);background: var(--bs-table-striped-bg);">ISK</td>
                <td class="green" style="color: green;font-weight: bold;letter-spacing: 0px;line-height: 14px;font-size: 18px;background: var(--bs-table-striped-bg);text-align: right;">{{ i.isk_destroyer|stringformat:"s"|slice:":-9" }} b</td>
                <td class="green" style="color: red;font-weight: bold;letter-spacing: 0px;line-height: 14px;font-size: 18px;background: var(--bs-table-striped-bg);text-align: right;">{{ i.isk_lost|stringformat:"s"|slice:":-9" }} b</td>
                <td class="green" style="color: rgb(255,250,250);font-weight: bold;letter-spacing: 0px;line-height: 14px;font-size: 18px;background: var(--bs-table-striped-bg);text-align: right;">Cell 4</td>
              </tr>
            </tbody>
          </table>
        </div>
          {% endfor %}

      </div>
      <div class="col-lg-3"></div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="table-responsive" style="color: rgb(255,255,255);">
          <table class="table">
            <thead>
              <tr>
                <th class="font-monospace" style="color: rgb(255,255,255);background: var(--bs-table-striped-bg);">Дата</th>
                <th class="text-center font-monospace" style="color: rgb(255,255,255);width: 64px;background: var(--bs-table-striped-bg);">Шип</th>
                <th class="font-monospace" style="color: rgb(255,255,255);width: 170px;background: var(--bs-table-striped-bg);">Место</th>
                <th class="font-monospace" style="color: rgb(255,255,255);width: 64px;background: var(--bs-table-striped-bg);"></th>
                <th class="font-monospace" style="color: rgb(255,255,255);background: var(--bs-table-striped-bg);">Жертва</th>
                <th class="font-monospace" style="color: rgb(255,255,255);width: 64px;height: 40px;background: var(--bs-table-striped-bg);"></th>
                <th class="font-monospace" style="color: rgb(255,255,255);background: var(--bs-table-striped-bg);">Кто добил</th>
              </tr>
            </thead>
            <tbody>
            {% for kill in killlist %}
                {% if kill.loss %}
              <tr style="    background: rgba(255,0,47,0.25);

    text-shadow: 0px 5px 7px;">
              {% else %}
              <tr  style="    background: rgba(51,255,0,0.25);

    text-shadow: 0px 5px 7px;">
              {% endif %}
                <td class="font-monospace" style="width: 50px;color: rgb(255,255,255);border-width: 0px;background: var(--bs-table-striped-bg);"><span>{{ kill.date_kill|slice:":10" }}</span><br />
                    <span>{{ kill.date_kill|slice:"11:16" }}</span><br />
                    <span style="border-color: rgb(251,251,251);color: #f89604;">{{ kill.destroyedValue|floatformat:"0g"|intcomma}}</span></td>
                <td style="border-width: 0px;text-align: center;vertical-align: middle;background: var(--bs-table-striped-bg);">
                  <a href="{% url 'ShowKill' kill.killmailID %}"><img style="width: 40px;height: 40px;" src="/static/kill/item/types/{{ kill.victim_personage_ship_id }}_32.png" alt="Images"></a>
                </td>
                <td class="font-monospace d-inline" style="border-width: 0px;background: var(--bs-table-striped-bg);">
                  <div style="width: 100%;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;padding: 3px">
                      <span style="color: rgb(255,255,255);">{{ kill.solar_system_ss }}</span>
                      <span style="color: rgb(247,247,247);">{{ kill.solar_system_name }}</span>
                  </div>
                    <span style="color: rgb(254,254,254);">{{ kill.region_name }}</span>
                </td>
                <td style="border-width: 0px;height: 40.5px;width: 40px;background: var(--bs-table-striped-bg);">
                    {% if kill.victim_personage_all_icon != None %}
                        <span><img style="width: 40px;height: 40px;margin-right: 0px;margin-left: 4px;" src="{{ kill.victim_personage_all_icon }}"></span>
                      {% else %}
                        <span><img style="width: 40px;height: 40px;margin-right: 0px;margin-left: 4px;" src="{{ kill.victim_personage_corp_icon }}"></span>
                      {% endif %}

                </td>
                  <td class="font-monospace d-inline" style="border-width: 0px;color: rgb(252,252,252);background: var(--bs-table-striped-bg);font-family: monospace"><br>
                  <div style="width: 100%;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;padding: 3px">
                      <span style="color: rgb(247,247,247);">{{ kill.victim_personage_name }} ({{ kill.victim_personage_ship_name }})</span><br>
                  </div>
                      {% if kill.victim_personage_all_name != None%}
                      <span style="color: rgb(247,247,247);">{{ kill.victim_personage_all_name}}</span><br>
                      {% else %}
                          <span style="color: rgb(247,247,247);">{{ kill.victim_personage_corp_name }}</span><br>
                      {% endif %}

                  </td>
                <td style="border-width: 0px;background: var(--bs-table-striped-bg);">
                    {% if kill.attack_final_personage_all_icon != None %}
                  <a href="#"><img style="width: 40px;height: 40px;padding: 0px;margin: 0px;margin-right: 0px;margin-left: 3px;" src="{{ kill.attack_final_personage_all_icon }}"></a>
                    {% else %}
                    <a href="#"><img style="width: 40px;height: 40px;padding: 0px;margin: 0px;margin-right: 0px;margin-left: 3px;" src="{{ kill.attack_final_personage_corp_icon }}"></a>
                    {% endif %}
                </td>
                <td class="font-monospace d-inline" style="border-width: 0px;color: rgb(252,252,252);background: var(--bs-table-striped-bg);font-family: monospace">
                    <div style="width: 100%;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;padding: 3px">
                    <span style="color: rgb(247,247,247);text-decoration: none">{{ kill.attack_final_personage_name }}</span><br>
                    </div>
                    {% if  kill.attack_final_personage_all_name != None%}
                    <span>{{ kill.attack_final_personage_all_name }}</span>
                    {% else %}
                    <span>{{ kill.attack_final_personage_corp_name }}</span><br>
                    {% endif %}

                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
    <nav class="pagination-outer">
      <ul class="pagination">
      {% if killlist.has_previous %}
      <li class="page-item">
          <a href="?page={{ killlist.previous_page_number }}" class="page-link font-monospace" aria-label="Previous"><span aria-hidden="true"><<</span> </a>
      </li>
      {% endif %}
          {% for p in killlist.paginator.page_range %}
              {% if killlist.number == p %}
              <li class="page-item active">
              <a href="?page={{ p}}" class="page-link font-monospace">{{ p }}</a>
                </li>
              {% elif p >= killlist.number|add:-2 and p <= killlist.number|add:2 %}
          <li class="page-item">
              <a href="?page={{ p}}" class="page-link font-monospace">{{ p }}</a>
          </li>
              {% endif %}
          {% endfor %}
      {% if killlist.has_next %}
      <li class="page-item">
          <a href="?page={{ killlist.next_page_number }}" class="page-link font-monospace" aria-label="Next"><span aria-hidden="true">>> </span> </a>
      </li>
      {% endif %}
      </ul>
  </nav>
    <a href='{% url 'parser_kill_id' %}' class="btn btn-warning">tatch</a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/kill/js/script.min.js"></script>
</body>

</html>